In [1]:
# List of ages
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

# Sort the list
for i in range(len(ages)):
    for j in range(len(ages) - 1):
        if ages[j] > ages[j + 1]:
            ages[j], ages[j + 1] = ages[j + 1], ages[j]

# Find min and max age
min_age = ages[0]
max_age = ages[-1]

# Add min and max age again to the list
ages.append(min_age)
ages.append(max_age)

# Find the median age
n = len(ages)
if n % 2 == 0:
    median_age = (ages[n // 2 - 1] + ages[n // 2]) / 2
else:
    median_age = ages[n // 2]

# Find the average age
sum_ages = 0
for age in ages:
    sum_ages += age
average_age = sum_ages / len(ages)

# Find the range of ages
age_range = max_age - min_age

# Print results
print("Sorted Ages:", ages)
print("Min Age:", min_age)
print("Max Age:", max_age)
print("Median Age:", median_age)
print("Average Age:", average_age)
print("Age Range:", age_range)

Sorted Ages: [19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]
Min Age: 19
Max Age: 26
Median Age: 24.0
Average Age: 22.75
Age Range: 7

In [2]:
# Create an empty dictionary for a dog
dog = {}

# Add name, color, breed, legs, and age to the dog dictionary
dog['name'] = 'Buddy'
dog['color'] = 'Brown'
dog['breed'] = 'Labrador'
dog['legs'] = 4
dog['age'] = 3

# Create a student dictionary
student = {}

# Add first_name, last_name, gender, age, marital status, skills, country, city, and address to the student dictionary
student['first_name'] = 'John'
student['last_name'] = 'Doe'
student['gender'] = 'Male'
student['age'] = 25
student['marital_status'] = 'Single'
student['skills'] = ['Python', 'Data Analysis']
student['country'] = 'USA'
student['city'] = 'New York'
student['address'] = '123 Main St'

# Get the length of the student dictionary
student_dict_length = 0
for key in student:
    student_dict_length += 1

# Get the value of skills and check the data type
skills_value = student['skills']
skills_data_type = type(skills_value)

# Modify the skills values by adding one or two skills
skills_value.append('Machine Learning')
skills_value.append('Communication')

# Get the dictionary keys as a list
student_keys = []
for key in student:
    student_keys.append(key)

# Get the dictionary values as a list
student_values = []
for value in student.values():
    student_values.append(value)

# Printing the results
print("Dog Dictionary:", dog)
print("Student Dictionary:", student)
print("Length of Student Dictionary:", student_dict_length)
print("Data Type of Skills:", skills_data_type)
print("Modified Skills:", skills_value)
print("Keys of Student Dictionary:", student_keys)
print("Values of Student Dictionary:", student_values)

Dog Dictionary: {'name': 'Buddy', 'color': 'Brown', 'breed': 'Labrador', 'legs': 4, 'age': 3}
Student Dictionary: {'first_name': 'John', 'last_name': 'Doe', 'gender': 'Male', 'age': 25, 'marital_status': 'Single', 'skills': ['Python', 'Data Analysis', 'Machine Learning', 'Communication'], 'country': 'USA', 'city': 'New York', 'address': '123 Main St'}
Length of Student Dictionary: 9
Data Type of Skills: <class 'list'>
Modified Skills: ['Python', 'Data Analysis', 'Machine Learning', 'Communication']
Keys of Student Dictionary: ['first_name', 'last_name', 'gender', 'age', 'marital_status', 'skills', 'country', 'city', 'address']
Values of Student Dictionary: ['John', 'Doe', 'Male', 25, 'Single', ['Python', 'Data Analysis', 'Machine Learning', 'Communication'], 'USA', 'New York', '123 Main St']

In [3]:
# Create a tuple containing names of sisters and brothers
sisters = ('Alice', 'Emma')
brothers = ('James', 'William', 'Henry')

# Join brothers and sisters tuples and assign it to siblings
siblings = brothers + sisters

# Count the number of siblings
num_siblings = 0
for _ in siblings:
    num_siblings += 1

# Modify the siblings tuple and add the name of your father and mother
father = 'John'
mother = 'Emily'
family_members = siblings + (father, mother)

# Printing the results
print("Siblings:", siblings)
print("Number of Siblings:", num_siblings)
print("Family Members:", family_members)

Siblings: ('James', 'William', 'Henry', 'Alice', 'Emma')
Number of Siblings: 5
Family Members: ('James', 'William', 'Henry', 'Alice', 'Emma', 'John', 'Emily')

In [4]:
# Given data
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

# Find the length of the set it_companies
it_companies_length = len(it_companies)

# Add 'Twitter' to it_companies
it_companies.add('Twitter')

# Insert multiple IT companies at once to the set it_companies
it_companies.update(['LinkedIn', 'Uber', 'Airbnb'])

# Remove one of the companies from the set it_companies
it_companies.discard('IBM')  # We use discard to avoid raising an error if the element is not present

# Difference between remove and discard:
# Remove raises KeyError if the element is not present, while discard doesn't raise any error.

# Join A and B
A_union_B = A.union(B)

# Find A intersection B
A_intersection_B = A.intersection(B)

# Check if A is a subset of B
A_subset_of_B = A.issubset(B)

# Check if A and B are disjoint sets
A_B_disjoint = A.isdisjoint(B)

# Join A with B and B with A
A_with_B = A.union(B)
B_with_A = B.union(A)

# Find the symmetric difference between A and B
symmetric_difference_A_B = A.symmetric_difference(B)

# Convert the ages to a set and compare the length of the list and the set
age_set = set(age)
age_comparison_length = len(age) - len(age_set)

# Delete the sets completely
del it_companies
del A
del B

# Printing the results
print("Length of it_companies:", it_companies_length)
print("A union B:", A_union_B)
print("A intersection B:", A_intersection_B)
print("Is A subset of B:", A_subset_of_B)
print("Are A and B disjoint sets:", A_B_disjoint)
print("A with B:", A_with_B)
print("B with A:", B_with_A)
print("Symmetric difference between A and B:", symmetric_difference_A_B)
print("Length comparison between list and set of ages:", age_comparison_length)

Length of it_companies: 7
A union B: {19, 20, 22, 24, 25, 26, 27, 28}
A intersection B: {19, 20, 22, 24, 25, 26}
Is A subset of B: True
Are A and B disjoint sets: False
A with B: {19, 20, 22, 24, 25, 26, 27, 28}
B with A: {19, 20, 22, 24, 25, 26, 27, 28}
Symmetric difference between A and B: {27, 28}
Length comparison between list and set of ages: 3

In [11]:
# Radius of the circle
radius = 30

# Calculate the area of the circle
area_of_circle = 3.14 * radius ** 2

# Calculate the circumference of the circle
circum_of_circle = 2 * 3.14 * radius

print("Area of the circle:", area_of_circle)
print("Circumference of the circle:", circum_of_circle)

# Take radius as user input and calculate the area
user_radius = float(input("Enter the radius of the circle: "))
user_area_of_circle = 3.14 * user_radius ** 2
print("Area of the circle with radius", user_radius, "is", user_area_of_circle)

Area of the circle: 2826.0
Circumference of the circle: 188.4
Enter the radius of the circle: 6
Area of the circle with radius 6.0 is 113.04

In [6]:
# Given sentence
sentence = "I am a teacher and I love to inspire and teach people"

# Split the sentence into words
words = sentence.split()

# Use a set to get unique words
unique_words = set(words)

# Calculate the number of unique words
num_unique_words = len(unique_words)

print("Number of unique words:", num_unique_words)

Number of unique words: 10

In [8]:
print("Name\tAge\tCountry\tCity")
print("Asabeneh\t250\tFinland\tHelsinki")

Name	Age	Country	City
Asabeneh	250	Finland	Helsinki

In [9]:
radius = 10
area = 3.14 * radius ** 2

print(f"The area of a circle with radius {radius} is {area} meters square.")

The area of a circle with radius 10 is 314.0 meters square.

In [10]:
# Read the number of students from the user
N = int(input("Enter the number of students: "))
# Initialize an empty list to store weights in pounds
weights_lbs = []
# Read weights of N students into the list
for i in range(N):
    weight = float(input(f"Enter weight of student {i+1} in lbs: "))
    weights_lbs.append(weight)
# Convert weights from pounds to kilograms and store in a separate list
weights_kg = []
for weight_lbs in weights_lbs:
    weight_kg = weight_lbs * 0.453592  # 1 pound = 0.453592 kilograms
    weights_kg.append(round(weight_kg, 2))  # Round to 2 decimal places
print("Weights in kilograms:", weights_kg)

Enter the number of students: 3
Enter weight of student 1 in lbs: 134
Enter weight of student 2 in lbs: 231
Enter weight of student 3 in lbs: 122
Weights in kilograms: [60.78, 104.78, 55.34]